<div class="container">
  <div class="row my-4">
    <button type="button" class="btn btn-light">
      <a href="/sanpham">sắp xếp</a>
    </button>
  </div>
  <div class="row">
    {{#each courses}}
      <div class="card mr-2 ml-2 mt-2" style="width: 18rem;">
        <img
          class="card-img-top"
          src="../img/{{this.imga}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <a href="/sanpham/{{this.slug}}">
            <h5 class="card-title">{{this.name}}</h5>
            <h5 class="card-title"><i>{{this.price}}</i></h5>
          </a>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="/sanpham/{{this.slug}}" class="btn btn-primary">Mua ngay</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>